# Lists

## Food 

This section is about foods

In [3]:
food = ['rice', 'noodles', 'bread', 'steak']
print food

['rice', 'noodles', 'bread', 'steak']

In [4]:
print len(food)

4

In [6]:
print len("don't")

5

In [7]:
food(0)

TypeError: 'list' object is not callable

In [8]:
food[0]

'rice'

In [9]:
food[0:2]

['rice', 'noodles']

In [10]:
food[:2]

['rice', 'noodles']

In [11]:
food[2:]

['bread', 'steak']

In [12]:
food.append('banana')

In [13]:
print food

['rice', 'noodles', 'bread', 'steak', 'banana']

In [14]:
more_food = ['mee siam', 'mee soto']

In [15]:
print (food + more_food)

['rice', 'noodles', 'bread', 'steak', 'banana', 'mee siam', 'mee soto']

In [16]:
food.remove('steak')

In [17]:
print food

['rice', 'noodles', 'bread', 'banana']

In [18]:
food.extend(more_food)

In [19]:
print food

['rice', 'noodles', 'bread', 'banana', 'mee siam', 'mee soto']

In [20]:
popped = food.pop()

In [21]:
popped

'mee soto'

In [22]:
food.reverse()

In [23]:
food

['mee siam', 'banana', 'bread', 'noodles', 'rice']

In [24]:
food.sort()

In [25]:
food

['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [26]:
num = [3, 6, 2, 9, 14]

In [27]:
num2 = [12, 3, 6, 2, 11]

In [28]:
num.sort()

In [29]:
num

[2, 3, 6, 9, 14]

In [30]:
num.reverse()

In [31]:
num

[14, 9, 6, 3, 2]

In [32]:
num.sort(reverse=True)

In [33]:
num

[14, 9, 6, 3, 2]

In [34]:
sorted_food = sorted(food)

In [35]:
sorted food

SyntaxError: invalid syntax (<ipython-input-35-799139045140>, line 1)

In [36]:
sorted_food_abs = sorted(sorted_food, key=abs)

TypeError: bad operand type for abs(): 'str'

In [37]:
sorted_food

['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [38]:
num

[14, 9, 6, 3, 2]

In [39]:
a = min(num)

In [40]:
a

2

In [41]:
b = sum(num)

In [42]:
b

34

In [43]:
food.index('noodles')

3

In [44]:
for pony in food:
    print pony

banana
bread
mee siam
noodles
rice

In [47]:
for index, pony in enumerate(food, start = 1)
    print pony, index

SyntaxError: invalid syntax (<ipython-input-47-34ec62ace920>, line 1)

In [48]:
food

['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [49]:
foodstring = ' | '.join(food)

In [50]:
type(foodstring)

str

In [51]:
foodstring

'banana | bread | mee siam | noodles | rice'

# Tuples

In [52]:
# Sets

In [53]:
food_set = ('rice', 'noodles')

In [60]:
type(7./2)

float

In [61]:
type(7/2)

int

In [59]:
7/2.

3.5

In [63]:
type(7//2) -> floor division i.e remove the remainder

int

In [64]:
float(7./2)

3.5

In [1]:
d = {}

# Add a new item.
d['key1'] = 'value1'

# You may also use different types other than strings for key/value pairs.
# Assigns an integer value to the 'key2' key.
d['key2'] = 1234567890

# Assigns a list value to the 'key3' key.
d['key3'] = ['a', 'b', 'c']

# Assigns a tuple value to the 'key4' key.
d['key4'] = (1, 2, 3)

# Even the key can be a type other than strings.
# The key here is an float.
d[98.6] = 'temperature'

# Prints the contents of the dictionary.
print 'd = ', d

d =  {'key3': ['a', 'b', 'c'], 'key2': 1234567890, 'key1': 'value1', 98.6: 'temperature', 'key4': (1, 2, 3)}